#
# ctf-decode
#
# Configuration des challenges
#
# [XXX] Label du challenge, doit être unique, sans contrainte particulière
# name: Home Sweet Home : Nom du challenge tel qu'il apparait sur les pages HTLM
# value: 10 : Nombre de points marqués pour la résolution du challenge
# category: Ghost in the Shell : Catégorie regroupant plusieurs challenges
# flag: flag_{m0n_pr3m13r_fl4g} : format libre
# file: (optionnel) : le nom d'un fichier qui sera téléchargeable par les participants.
# description: 
#    La description peut tenir sur une ou plusieurs lignes.
#    [espace !!] Les lignes de la description doivent commencer par un ESPACE ou une TABULATION
#    Dès qu'une ligne recommence à la première colonne, on a terminé la description
#    Cette description est collée dans du HTML après un passage dans un léger parser Markdown
#    Utiliser la balise </br> pour chaque retour à la ligne
#    Mettre les morçeaux de code ou commande entre deux lignes de ```
#    ```
#    $ commande shell, ou bout de code
#    ```



[Intro]
category: gouv-support
label: Gouv: Faux support
description: 
    ## www.cybermalveillance.gouv.fr : Faux support   
    .
    L’arnaque  au  faux  support  technique  (Tech  support  scam  en  anglais)  consiste  à  effrayer  la  victime,  par  SMS,  téléphone,  chat,  courriel,  ou  par  l’apparition  d’un message qui bloque son ordinateur, lui indiquant un problème technique grave et un risque de perte de ses données ou de l’usage de son équipement afin de la  pousser  à  contacter  un  prétendu  support  technique  officiel  (Microsoft,  Apple,  Google...),  pour  ensuite  la convaincre de payer un pseudo-dépannage informatique et/ou  à  acheter  des  logiciels  inutiles,  voire  nuisibles.  Si  la  victime  refuse de payer, les criminels peuvent la menacer de détruire ses fichiers ou de divulguer ses informations personnelles
    .
    https://www.cybermalveillance.gouv.fr/wp-content/uploads/2019/06/FauxSupportTechnique.pdf
    https://www.cybermalveillance.gouv.fr/wp-content/uploads/2019/06/memo-faux-support-technique.pdf





[Challenge_gouv_support]
name:  Attention aux popup
value: 1
category:  gouv-support
flag:  2
description: 
    Vous faites une recherche sur la vie nocturne de Lady Gaga, et curieux, vous cliquez sur un lien qui vous ouvre une page web sur un tabloid anglo-saxon.
    Les photos et les infos sont de première main, trop lol tout ça.
    Soudain un popup apparait et vous informe que votre version de Flash n'est plus à jour.
    C'est important d'avoir un logiciel à jour.
    1/ Si vous téléchargez et lancez le fichier pour avoir une mise à jour. Quelle chance.
    2/ Même pas en rêve. C'est un 'virus' 
